<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gift Guide - Results</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo&family=Assistant&family=Dongle:wght@300&family=Poppins:wght@400;800&family=Quicksand:wght@500&display=swap"
    rel="stylesheet">
    <script
    src="https://kit.fontawesome.com/df9aef2d94.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="../static/style.css">
  <meta name="theme-color" content="#712cf9">
</head>

<body>


  <div id="themeSwitcher" class="dropdown position-fixed bottom-0 end-0 mb-3 me-3">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
      aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme">
      <i class="fa fa-adjust" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
      <li><button type="button" class="dropdown-item" data-bs-theme-value="light"><i class="fa fa-sun-o"
            aria-hidden="true"></i> Light</button></li>
      <li><button type="button" class="dropdown-item" data-bs-theme-value="dark"><i class="fa fa-moon-o"
            aria-hidden="true"></i> Dark</button></li>
      <li><button type="button" class="dropdown-item active" data-bs-theme-value="auto"><i class="fa fa-adjust"
            aria-hidden="true"></i> Auto</button></li>
    </ul>
  </div>

  <div class="bannercontainer ">
    <div class="banners d-flex flex-column align-items-center">
      <img src="/openagent/assets/banner1.png" alt="" class="banner my-3">
      
      <div class="bannermove position-relative">
        <div class="leftbannermove">
          <button class="l"><i class="fas fa-chevron-left"></i></button>
        </div>
        <div class="bannerscrol">
          <img src="/openagent/assets/banner2.png" alt="banner" class="bannerimg" />
        </div>
        <div class="rightbannermove">
          <button class="r"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
      <div class="bannercirclebox">
        <div class="bannercircle"></div>
        <div class="bannercircle"></div>
        <div class="bannercircle"></div>
        <div class="bannercircle"></div>
        <div class="bannercircle"></div>
        <div class="bannercircle"></div>
      </div>
    </div>
  </div>

  <section class="copuponsec">
    <h1>Coupons Corner</h1>
    <div class="couponcontainer d-flex justify-content-around">
      <img src="/openagent/assets/coupon1.png" alt="">
      <img src="/openagent/assets/coupon2.png" alt="">
      <img src="/openagent/assets/coupon3.png" alt="">
    </div>
  </section>

  <!-- hot deals -->
  <section class="dealsec">
    <h1>Hot Deals</h1>
    <div class="deals">
      <div class="dealitems">
        <div class="dealimagbox"><img src="https://th.bing.com/th/id/OIP.PGU90xMjuYZbTrhqyTxIqwD6D6?pid=ImgDet&rs=1" alt="" class="dealimg"></div>
        <div class="dealitemdata">
          <p class="dealcompany">Addidas</p>
          <p class="dealitemname">Comfy T-Shirt</p>
          <p class="dealitemoffer">Startig $20</p>
        </div>
      </div>
      <div class="dealitems">
        <div class="dealimagbox"><img src="https://i.pinimg.com/originals/17/b0/1e/17b01e82874706e4a56ed087a297ef7d.jpg" alt="" class="dealimg"></div>
        <div class="dealitemdata">
          <p class="dealcompany">Addidas</p>
          <p class="dealitemname">Comfy T-Shirt</p>
          <p class="dealitemoffer">Startig $20</p>
        </div>
      </div>
      <div class="dealitems">
        <div class="dealimagbox"> <img src="https://th.bing.com/th/id/OIP.AL2Gzjf1dCUcrX6WbAxeZwHaKu?pid=ImgDet&rs=1" alt="" class="dealimg"></div>
        <div class="dealitemdata">
          <p class="dealcompany">Addidas</p>
          <p class="dealitemname">Comfy T-Shirt</p>
          <p class="dealitemoffer">Startig $20</p>
        </div>
      </div>
      <div class="dealitems">
        <div class="dealimagbox"><img src="https://th.bing.com/th/id/OIP._-ty22zE7WWwUwcwK525tAHaHa?pid=ImgDet&rs=1" alt="" class="dealimg"></div>
        <div class="dealitemdata">
          <p class="dealcompany">Addidas</p>
          <p class="dealitemname">Comfy T-Shirt</p>
          <p class="dealitemoffer">Startig $20</p>
        </div>
      </div>
      <div class="dealitems">
        <div class="dealimagbox"><img src="https://content.moss.co.uk/images/original/966039891_01.jpg" alt="" class="dealimg"></div>
        <div class="dealitemdata">
          <div class="dealitemdata">
            <p class="dealcompany">Addidas</p>
            <p class="dealitemname">Comfy T-Shirt</p>
            <p class="dealitemoffer">Startig $20</p>
          </div>
        </div>
      </div>
      <div class="dealitems">
        <div class="dealimagbox"><img src="https://th.bing.com/th/id/OIP.dDdbChqfAW4fOux7XcIxYwHaHa?pid=ImgDet&rs=1" alt="" class="dealimg"></div>
        <div class="dealitemdata">
          <div class="dealitemdata">
            <p class="dealcompany">Addidas</p>
            <p class="dealitemname">Comfy T-Shirt</p>
            <p class="dealitemoffer">Startig $20</p>
          </div>
        </div>
      </div>
      <div class="dealitems">
        <div class="dealimagbox"><img src="https://th.bing.com/th/id/OIP.cmqmqcbnxmlXuIeGiFn69AAAAA?pid=ImgDet&rs=1" alt="" class="dealimg"></div>
        <div class="dealitemdata">
          <p class="dealcompany">Addidas</p>
          <p class="dealitemname">Comfy T-Shirt</p>
          <p class="dealitemoffer">Startig $20</p>
        </div>
      </div>
      <div class="dealitems">
        <div class="dealimagbox"><img src="https://i5.walmartimages.com/asr/c0ff0b2a-df4a-4843-bba2-22f1d7f2cd22.bc42e90fc9e5eb066dd8e1423dce0bfd.jpeg" alt="" class="dealimg"></div>
        <div class="dealitemdata">
          <p class="dealcompany">Addidas</p>
          <p class="dealitemname">Comfy T-Shirt</p>
          <p class="dealitemoffer">Startig $20</p>
        </div>
      </div>
      <div class="dealitems">
        <div class="dealimagbox"> <img src="https://s3-eu-west-1.amazonaws.com/images.linnlive.com/547b3d68c93e199cbd048cb886b17ccc/c04f69cc-4188-407d-9571-708c1e26850f.jpg" alt="" class="dealimg"></div>
        <div class="dealitemdata">
          <p class="dealcompany">Addidas</p>
          <p class="dealitemname">Comfy T-Shirt</p>
          <p class="dealitemoffer">Startig $20</p>
        </div>
      </div>
      <div class="dealitems">
        <div class="dealimagbox"><img src="https://th.bing.com/th/id/OIP.fyRnCGX91VmBqff5sG--7gHaHa?pid=ImgDet&rs=1" alt="" class="dealimg"></div>
        <div class="dealitemdata">
          <p class="dealcompany">Addidas</p>
          <p class="dealitemname">Comfy T-Shirt</p>
          <p class="dealitemoffer">Startig $20</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <main>
      <div class="my-5 pt-5 text-center">
        <h2>Gift Guide - Results</h2>
        <p class="lead">Here are the AI curated gift ideas based on your inputs:</p>
      </div>
      <div class="my-5">
        <div class="row d-flex justify-content-center row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4"
          id="productcontainer">

        </div>
      </div>
    </main>
    <footer class=" pt-5 text-body-secondary text-center text-small">
      <p class="mb-1">&copy; 2017–2023 Gifty</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="../static/script.js"></script>
</body>

</html>